{% extends 'layout.twig' %}

{% block content %}

        <div id="wrap">
            <div id="main" class="container">
                <section class="row">
                {% include 'admin_menu.twig' %}
                    <article class="col-lg-8 col-sm-12 my-5" id="admin_block">
                        <h1 class="pt-3 pl-1 text-white"><img src="/pictures/ico_blue.png" id="ico_blue" alt="icon"/>{{ news.getTitle }}</h1>
                        <p id="date_publish" class="pl-1">Publié le <span class="font-italic">{{ news.getAddAt | date("d/m/Y à H\\hi") }}</span> par <span class="font-weight-bold">{{ news.user }}</span></p>
                        <hr/>

                        {% if news.hasPicture %}

                        <img class="img-fluid rounded" src="{{ news.getPicture }}" alt="news picture"/>
                            
                        {% endif %}
                            
                        <hr/>
                        <p class="lead text-white">{{ news.getChapo }}</p>
                        <hr/>
                        <p class="text-white">{{ news.getContent }}</p>
                        <hr/>
                        <div class="text-center my-5">
                            <a role="button" href="/admin/modifier_news-{{ news.getId }}.html" class="btn btn-warning mr-2 text-white"><img class="mr-1 mb-1" src="/pictures/update.png" alt="update icon"/>Modifier</a>
                            <a role="button" href="/admin/supprimer_news-{{ news.getId }}?token={{ user.getToken.getValue }}" class="btn btn-danger ml-2 text-white"><img class="mr-1" src="/pictures/delete.png" alt="delete icon"/>Supprimer</a>
                        </div>
                    </article>
                </section>
            </div>
        </div>

{% endblock %}