{% extends 'layout.twig' %}

{% block content %}
    
    <div id="wrap">
        <div id="main" class="container mb-5">
            <section class="row">
                <div class="col-md-8">
                    <h1 id="border-bottom" class="my-4 mt-5 text-white"><img id="ico_blue" alt="icon" src="pictures/ico_blue.png"/>News</h1>
                    <!-- Blog Post -->
                    {% for news in listNews %}

                    <article class="card mb-4">
                        <a href="#"><img class="card-img-top" src="pictures/news.jpg" alt="news picture"/></a>
                        <div class="card-body">
                            <a href="#"><h2 class="card-title">{{ news.getTitle }}</h2></a>
                            <p class="card-text text-white">{{ news.getChapo }}</p>
                            <a role="button" href="#" class="btn btn-primary">Lire la suite &rarr;</a>
                        </div>
                        <div class="card-footer">
                            {{ news.addAt != news.updateAt ? 'Modifié' : 'Publié' }} le <span class="font-italic">{{ news.addAt != news.updateAt ? news.updateAt|date("d/m/Y à H\\hi") : news.addeAt|date("d/m/Y à H\\hi") }}</span> par <span class="font-weight-bold">{{ news.getUser }}</span>
                        </div>
                    </article>

                    {% endfor %}

                    <div class="text-center mb-4 pr-4">
                        <button type="button" href="#" class="btn btn-primary">Toutes les news</a>
                    </div>
                </div>
                <!-- Sidebar Column -->
                <div class="col-md-4 mt-2">
                    <aside class="card my-4" id="aside">
                        <img id="profil_picture"class="img-center" src="pictures/profil.jpg" alt="developer photo"/>
                        <div class="card-body">
                            <legend class="card-title text-center text-white">Thibault le développeur qu'il vous faut ! </legend>
                            <div class="d-flex justify-content-center">
                                <a class="p-2" href="https://github.com/Thibok" target="_blank"><i id="github" class="fa fa-github"></i></a>
                                <a class="p-2" href="https://twitter.com/TCavailles" target="_blank"><i id="twitter" class="fa fa-twitter"></i></a>
                                <a class="p-2" href="https://www.linkedin.com/in/thibault-cavailles-b40061146/" target="_blank"><i class="fa fa-linkedin text-white"></i></a>
                                <a class="p-2" href="../../Web/C.V.pdf" target="_blank"><i id="cv"class="fa fa-user"></i></a>
                            </div>
                        </div>
                    </aside>
                    <!-- Contact Form -->
                    <div class="col-md-12 my-4 p-3" id="contact">
                        <form method="post" action="">
                            <h2 class="text-white">Contact</h2>
                            <div class="form-group">
                                <label class="control-label text-white"for="name">Nom :</label>
                                <input type="text" name="name" id="name" class="form-control"/>
                            </div>
                            <div class="form-group"> 
                                <label class="control-label text-white" for="first_name">Prénom :</label>
                                <input class="form-control" type="text" name="first_name" id="first_name"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label text-white" for="email">Email :</label>
                                <input type="email" name="email" id="email" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label text-white" for="message">Message :</label>
                                <textarea id="message" class="form-control" rows="4"></textarea>
                                <p class="help-block text-white">Vous pouvez agrandir la fenêtre</p>
                            </div>
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}