{% extends 'layout.twig' %}

{% block content %}
    
    <div id="wrap">
        <div id="main" class="container mb-5">
            <section class="row">
                <div class="col-lg-8 my-5">

                    {% if user.hasFlash %}

                        <div class="alert alert-info alert-dismissible text-center mt-4">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span><img class="mb-1 mr-1"src="/pictures/infos.png"/>{{ user.getFlash }}</span>
                        </div>

                    {% endif %}

                    <h1 id="border-bottom" class="mb-4 text-white"><img id="ico_blue" alt="icon" src="/pictures/ico_blue.png"/>News</h1>

                    {% for news in listNews %}

                    <article class="card mb-4">

                    {% if news.hasPicture %}

                        <a href="/news-{{ news.id }}.html"><img class="card-img-top" src="{{ news.getPicture }}" alt="news picture"/></a>

                    {% endif %}

                        <div class="card-body">
                            <a href="/news-{{ news.id }}.html"><h2 class="card-title">{{ news.getTitle }}</h2></a>
                            <p class="card-text text-white">{{ news.getChapo }}</p>
                            <a role="button" href="/news-{{ news.id }}.html" class="btn btn-primary">Lire la suite &rarr;</a>
                        </div>
                        <div class="card-footer">
                            {{ news.getAddAt != news.getUpdateAt ? 'Modifié' : 'Publié' }} le <span class="font-italic">{{ news.getAddAt != news.getUpdateAt ? news.getUpdateAt | date("d/m/Y à H\\hi") : news.getAddAt | date("d/m/Y à H\\hi") }}</span> par <span class="font-weight-bold">{{ news.getUser }}</span>
                        </div>
                    </article>

                    {% endfor %}

                    <div class="text-center mb-4 pr-4">
                        <a role="button" href="/news" class="btn btn-primary">Toutes les news</a>
                    </div>
                </div>

                {% include 'rightSidebar.twig' %}
                
            </section>
        </div>
    </div>

{% endblock %}